* {
  box-sizing:border-box;
  font-family: 'DinPro';
  margin: 0em;
  padding: 0em;


}


@font-face {
  font-family: 'DinPro';
  src: url('./DinPRO/DINPro-Cond.otf');
  src: url('./DinPRO/DINPro-Cond.otf') format('embedded-opentype'),
       url('./DinPRO/DINPro-Cond.otf') format('truetype'),
       url('./DinPRO/DINPro-Cond.otf') format('svg');
  font-weight: normal;
  font-style: normal;
}





.section1{
  
     position: relative;
  background-image: url("./photo_image_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -46px;
  overflow: hidden;

    }



  .all-content{

    position: relative;
      height: calc(100vh - -2782px);
      background: url("./home_page_bez_slika.png");
      background-repeat: no-repeat;
      background-size: 100%; 
       
  }


   #najava {
     position: relative;
    bottom:160px;
    left: 75%;
  font-size: 42px;
     color: white;
     position: relative;
     border: none;
   }

  #najava:hover{
      color:#4DA3B4 ;
      text-decoration: none;
  }

  #registriraj{
      left: 78%;
      bottom: 160px;
    position: relative;
    font-size: 42px;
    color: white;
  }

  #registriraj:hover {
      color: #4DA3B4;
      text-decoration: none;
  }
  
  
.logo {
  position: relative;
  top: 125px;
   max-height: 260px;
   margin-left: 10px;
}

.search {
    position: relative;
    top: 250px;
  color: white;
  padding: 10px;
 width: 1100px;
  height: 400px;
  left: 22%;
  border-radius: 45px;
  font-size: 25px;
  background:rgba(1,1,1,0.3);


}

.btn-secondar{
  position: relative;
  font-family: 'DinPro';

 background-color: white;
 color: #AA1A75;
 font-size: 40px;
 top: 15px;
font-weight: bold;
 left: 110px;
 text-align-last: center;
 width: 370px;
 border-radius: 20px;
 box-shadow: 5px 10px 8px #888888;

}
.btn-secondar:hover {
    color: #4DA3B4;
}


.btn-secondary-2{
  position: relative;
  font-family: 'DinPro';
text-align-last: center;
 background-color: white;
 color: #AA1A75;
 font-size: 40px;
 top: 14.5px;
 font-weight: bolder;
 left: 180px;
 width:370px;
 border-radius: 20px;
 box-shadow: 5px 10px 8px #888888;
}
.btn-secondary-2:hover {
    color: #4DA3B4;

}
#dropdown2 > .dropdown-menu {
position: relative;
margin-left: 7%;
box-shadow: 5px 10px 8px #888888;


}

.dropdown > .dropdown-menu{
position: relative;
box-shadow: 5px 10px 8px #888888;

}

#dropdown2 > .dropdown-menu2 {
  position: relative;
  margin-left: 7%;
  box-shadow: 5px 10px 8px #888888;
  
  
  }
  


.dropdown-item {
  font-family: 'DinPro';
  font-weight: bolder;
  color: #AA1A75;
  font-size: 30px;
  
}

.dropdown-item:hover{
    color: #4DA3B4;
}
.text-insearchbox{
  position: relative;
  font-family: 'DinPro';
  color: white;
  font-weight: bolder;
  margin-top: -20px;
  position: relative;
  left: 289px;
  font-size: 66px;
}

.btn-light-search{
  font-family: 'DinPro';
font-weight:bolder;
position: relative;
top: 51px;
height: 70px;
width: 249px;
color: #AA1A75;
font-size: 40px;
 left:36%;
border-radius: 18px;
box-shadow: 5px 10px 8px #888888;
background-color: white;

}

.btn-light-search:hover {
    color: #4DA3B4;
}

#Layer_1 {
  top: 630px;
  position: relative;
  height: 200px;
  width: 260px;
  padding: 25px;
  left: 40px;

  
}

/* .imageinhouse {
  position: relative;
  width: 112%;
  height: 102%;
} */



.card-name {
  font-family: 'DinPro';
  position: relative;
color: black;
top: 576px;
font-weight: bold;
font-size: 26px;
padding: 57px;
display: -webkit-inline-flex;
left: 35px;

}

.slogan {
  font-family: 'DinPro';
  font-weight: bolder;
position: relative;
font-size: 97px;
margin-left: 630px;
top: -200px;
}

.slogan1 {
  font-family: 'DinPro';
  font-weight: bolder;
  position: relative;
font-size: 95px;
top: -360px;
color: #4DA3B4;
margin-left: 830px;
}

 
.cards-columns {
  position: relative;
  top:1150px;
  left: 10px;
  float: left;
  width: 44%;
  padding: 0 9px;
  }
  
  .card-rows:after {
  content: "";
  display: table;
  clear: both;
  } 
  
  
  .info-cards {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
      position: relative;
      font-family: 'DinPro';
      font-weight: bolder;
      margin-left: 195px;
      padding: 120px;
      text-align: left;
      color:  rgb(0, 195, 255);
      background-color: white;
      opacity: 0.5;
      border-radius: 8%;
      box-shadow: 5px 10px 8px #888888;
  
  }
  
 

  .card-title {
    font-family: 'DinPro';
    padding-top: 59px;
      font-size: 58px;
      left: 110px;
      position: relative;
      color: #4DA3B4;
      margin-left: 94px;
      font-weight: bold;
  }
  
  
.btn-dark-1-registration {
  font-family: 'DinPro';
  position: relative;
background: white;
color: #AA1A75;
top: 750px;
left: 40%;
font-size: 42px;
font-weight: bolder;
border-radius: 20px;
width:  330px;
box-shadow: 5px 10px 8px #888888;  
}

.btn-dark-1-registration:hover {
    color: #4DA3B4;
}


.footer-text {
  font-family: 'DinPro';
  position: relative;
  top: 1200px;
  font-weight: bolder;
font-size: 24px;
margin-left: 215px;
color: white;
}

.footer-text-1 {
  font-family: 'DinPro';
  font-weight: bolder;
  position: relative;
  top: 1120px;
font-size: 30px;
margin-left: 1550px;
color:white;
}

.footer-text-2 {
  font-family: 'DinPro';

  position: relative;
top: 1120px;
font-size: 30px;
margin-left: 1400px;
color: white;
font-weight: bolder;
}

.instagram {
position: relative;
top: 1200px;
height: 55px;
left: 190px;
color: #4DA3B4;
background-color: #4DA3B4;
border-radius: 50%;
}

.facebook {
position: relative;
top: 1200px;
background-color:#4DA3B4;
height: 55px;
left: 200px;
border-radius: 50%;
}



