
* {
    box-sizing: border-box; 
    margin: 0em;
    padding: 0em;

}



@font-face {
  font-family: 'DinPro';
  src: url('./DinPRO/DINPro-Cond.otf');
  src: url('./DinPRO/DINPro-Cond.otf') format('embedded-opentype'),
       url('./DinPRO/DINPro-Cond.otf') format('truetype'),
       url('./DinPRO/DINPro-Cond.otf') format('svg');
  font-weight: normal;
  font-style: normal;
}




.section2 {
  position: relative;
    background-image: url("./home_page_bez_slika.png");
    background-size: 76%;
    background-repeat: repeat;

}

/* Nav-bar */
header {
    background-color: #AA1A75;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 7%;
    
}
.logo-top-left {
  position: relative;
    width: 200px;
    height: 80px;
    margin-left: 10%;
}
.logo-top-left-image {
    width: 150px;
    height: auto;
}


 

/* main part */


:root {
    --white: #fff;
    --accent-color: #b5838d;
    --dark-accent-color: #a6757f;
    --main-color: #6d6875;
    --dark-main-color: #56505f;
  }
  .wave {
    display: block;
    animation: waving 3s infinite;
  }
  
  @keyframes waving {
    0% {
      transform: rotate(30deg);
    }
    50% {
      transform: trotate(-30deg);
    }
    10% {
      transform: rotate(30deg);
    }
  }
  
  
  h1,
  a  {
    text-align: center;
    font-family: 'DinPro';


  }
  
  button {
    position: relative;
    color: var(--white);
    font-family: 'DinPro';

    padding: 1em;
    margin: 0.5em;
    border-radius: 5px;
    border-width: 0px;
    text-transform: uppercase;
  }
  
  input {
    padding: 1em;
    border-radius: 0px;
    font-family: 'DinPro';
font-size: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
  }
  .container {
      margin-left: 35%;
    margin-top: 60px;
    font-size: 22px;
    display: flex;
    font-family: 'DinPro';
    flex-direction: column;
    max-width: 460px;
    max-height: 1000px;
    background:white(1,1,1,0.4);
    padding: 3.1em;
    border-radius: 9px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-top: 10px solid #4da3b4;
  }
  .text-in-najava{

     position: relative;
     font-size: 17px;
     font-family: 'DinPro';
     margin-top: 15px;
     margin-left: 60px;

  }
  
  .signup {
    position: relative;
    font-size: 0.8em;
    font-family: 'DinPro';

    color: var(--white);
    padding: 1em;
    margin: 0.5em;
    border-radius: 5px;
    border-width: 0px;
    text-transform: uppercase;
    background-color:#AA1A75;
    margin-bottom: 30px;
  }
  .signup:hover {
    background-color:pink;
  }
  
  .login {
    position: relative;
    font-family: 'DinPro';

    font-size: 0.8em;
    color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 5px;
    border-width: 0px;
    text-transform: uppercase;
      margin-top: 30px;
    background-color:#0187A0;
  }

  
  
  .login:hover {
    background-color:#4DA3B4;
  }
  
  .disclaimer {
    font-size: 0.9em;
  }
  
  a {
    color: var(--main-color);
    margin-bottom: 30px;
  }
  
  a:hover {
    color: var(--dark-main-color);
  }
  

/* footer */

.footer2{
  position: relative;
    margin-top: 80px;
    background-image: url("./footer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: 280px;
    border:white;
}

.footer-text-follow-us2 {
    top: 70px;
    position: relative;
    font-family: 'DinPro';

    font-size: 23px;
    color: white;
    margin-left: 11%;         
     
  }
  
.logo-footer-text-12 > p { 
    position: relative;
    font-family: 'DinPro';

    top: 80px;   
    margin-left: 80%;
    font-size: 25px;  
    color:white;
  }

.logo-footer-text-12 img{
    position: relative;
     top: 100px;
    height: 50px;  
    color: #4DA3B4;
    background-color: #4DA3B4;
    border-radius: 50%;
  }
 
.instagram2{
  position: relative;
  top: -10px;
    margin-left:11%;
}

.facebook2 {
  position: relative;
  top: -60px;
}

.footer-text-22 {
    position: relative;
    font-family: 'DinPro';

    top: 80px;
    margin-left: 71%; 
    color:white;
    font-size: 25px;
  }




